In [2]:
import sys
!{sys.executable} -m pip install numpy ipython-sql sqlalchemy==1.4.4 psycopg2-binary >/dev/null
%load_ext sql

The sql extension is already loaded. To reload it, use:
  %reload_ext sql

In [7]:
import sqlalchemy as sa
import pandas as pd
import os
#sa.URL('postgresql+psycopg2', username=os.getenv('PG_USER'), 
engine = sa.create_engine(f'postgresql+psycopg2://postgres:{os.getenv("POSTGRES_PASSWORD")}@database/postgres')
conn = engine.connect()
def query(sql, params=[]):
    return pd.read_sql(sa.text(sql), conn, params=params)
%sql $engine.url

In [21]:
query('select * from stats_overview')

,id,name,runs,wins,avg_win_rate,p_deck_size,p_floor_reached
0,93,BEAKED_THE_CULTIST,1,0,0.000000,"[24.0, 24.0, 24.0]","[38.0, 38.0, 38.0]"
1,7914,DEFECT,22,3,0.045455,"[16.5, 20.0, 24.5]","[14.0, 20.5, 32.0]"
2,492131,GRACKLE,9,0,0.000000,"[11.0, 16.0, 19.0]","[6.0, 7.0, 17.0]"
3,656357,HERMIT,17,2,0.000000,"[20.0, 23.0, 25.0]","[16.0, 25.0, 33.0]"
4,1436699,IRONCLAD,34,5,0.029412,"[18.5, 24.0, 28.75]","[23.0, 29.5, 53.25]"
5,3946404,MARISA,1,0,0.000000,"[16.0, 16.0, 16.0]","[7.0, 7.0, 7.0]"
6,3990142,THE_BUGKNIGHT,4,0,0.000000,"[20.75, 24.0, 25.25]","[17.5, 22.0, 24.75]"
7,4249262,THE_SILENT,24,7,0.041667,"[23.25, 27.0, 35.0]","[20.5, 38.5, 55.0]"
8,6646514,WATCHER,61,8,0.000000,"[15.0, 18.0, 22.0]","[8.0, 20.0, 28.0]"

In [5]:
%%sql 
with
char_id as (select S.id from strcache S where S.str = 'GRACKLE'),
q1 as (
    select S.str as name, ST.total, ST.upgrades from stats_card_counts ST
    join strcache S on ST.card_id = S.id
    join char_id on ST.char_id = char_id.id
)
select * from q1 where total > 1 order by total desc

 * postgresql+psycopg2://postgres:***@database/postgres
23 rows affected.

[('grackle:Defend_GK', 26, 1),
 ('grackle:Strike_GK', 21, 2),
 ('grackle:CrashLanding', 9, 1),
 ('grackle:Takeoff', 8, 0),
 ('grackle:Defend', 4, 0),
 ('grackle:Strike', 4, 0),
 ('grackle:Cackle', 4, 1),
 ('grackle:SelfBurn', 4, 1),
 ('grackle:TryThatAgain', 4, 0),
 ('grackle:TargetingComputer', 4, 2),
 ('grackle:FightFire', 3, 1),
 ('grackle:BufferInputs', 3, 1),
 ('grackle:FiredUpCard', 3, 0),
 ('grackle:FireTouch', 2, 2),
 ('grackle:Paratrooper', 2, 0),
 ('grackle:Swoop', 2, 0),
 ('grackle:Forage', 2, 0),
 ('grackle:ThisWillHurt', 2, 0),
 ('grackle:WildFire', 2, 0),
 ('grackle:HenPeck', 2, 0),
 ('grackle:PeckingOrder', 2, 1),
 ('grackle:Perch', 2, 0),
 ('grackle:Duck', 2, 0)]